node_modules

#Hardhat files
cache
artifacts

# misc
.DS_Store
.env*
!.env.example
tmp
credentials.json

npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
/*-crash.log

# Output
output
dist
build
bin
data/**/*
!data/.gitkeep
deployments/localhost
deployments/hardhat

# BI
bi/data
bi/redash
