node_modules

#Hardhat files
cache
artifacts

# misc
.DS_Store
.env*
!.env.example
tmp
credentials.json

npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Output
output
dist
build
bin
data/aws/*
!data/aws/.gitkeep
data/face/*
!data/face/.gitkeep
data/ethnicity/*
!data/ethnicity/.gitkeep
data/name/*
!data/name/.gitkeep
data/nft/*
!data/nft/.gitkeep
deployments/localhost
deployments/hardhat
